<!-- <div class="container">
  <h1>Login / Signin</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="div">
      <label for="" class="email">Email</label><br>
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="error-message" *ngIf="formcontrols.email.errors && isSubmitted">
      <div *ngIf="formcontrols.email.errors.required">
        Should not be empty.!
      </div>
      <div *ngIf="formcontrols.email.errors.email">
        Invalid Email.!
      </div>
    </div>
    <div class="div">
      <label for="" class="password">Password</label><br>
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    <div class="error-message" *ngIf="formcontrols.password.errors && isSubmitted">
      <div *ngIf="formcontrols.email.errors.required">
        Should not be empty.!
      </div>
    </div>
    <button type="submit">Login</button>
     <p> New to FoodApp? <a routerLink="signup">Create account</a></p>
  </form>
</div> -->
