div{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
input{
  border-radius: 200px 0 0 200px;
  outline: none;
  border: 1px solid #e72929;
  height: 20px;
  width: 250px;
  background-color: #f1f1f1;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}
button{
  border-radius: 0 90px 90px 0;
  border: none;
  font-size: 16px;
  background-color: #e72929;
  color: white;
  height: 52px;
  width: 90px;
  padding: 15px;
}
button:hover{
  cursor: pointer;
}
